In [1]:
import pandas as pd

In [3]:
text="Marko igra nogomet u svom gradu"
pd.get_dummies(text.split())

   Marko  gradu  igra  nogomet  svom  u
0      1      0     0        0     0  0
1      0      0     1        0     0  0
2      0      0     0        1     0  0
3      0      0     0        0     0  1
4      0      0     0        0     1  0
5      0      1     0        0     0  0

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
text=["Marko igra nogomet u svom gradu te trenira nogomet","Marko trenira nogomet te igra nogomet hrvatska"]
vectorizer=CountVectorizer()
vector=vectorizer.fit_transform(text)

print(vectorizer.vocabulary_)
print(vector.toarray())

{'marko': 3, 'igra': 2, 'nogomet': 4, 'svom': 5, 'gradu': 0, 'te': 6, 'trenira': 7, 'hrvatska': 1}
[[1 0 1 1 2 1 1 1]
 [0 1 1 1 2 0 1 1]]

In [10]:
from textblob import TextBlob

ModuleNotFoundError: No module named 'textblob'